@model QuanLyThuaGio.Api.Entities.Doantotnghiep

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doantotnghiep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sodetai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sodetai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sodoanpbien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sodoanpbien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namhoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namhoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MagvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagvNavigation.Magv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MalopNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MalopNavigation.Malop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Ma">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
